---
import Layout from "@/layouts/main.astro";
import Hero from "@/components/Hero.astro";

import hero_img from "@/assets/images/jobs.jpg";
import social_img from "@/assets/images/social/jobs.jpg";
---

<Layout
  title="Jobanfrage | connect724"
  description="Unser Leistungsportfolio: kontaktlose Zustellung (Printprodukte, Lebensmittel, Blumen), Konfektion"
  og_img={social_img}
  og_img_alt="Jobs"
>
    <Hero image={hero_img} image_alt="connect724 GmbH" variant="small" objectPosition={"100% 65%"}>
    <div
      class="c-min-padding mx-auto w-full max-w-screen-xl space-y-2 text-background"
    >
      <h1 class="text-5xl md:text-6xl lg:text-6xl font-bold">Jobanfrage</h1>
      <p class="text-balance font-light text-3xl lg:text-4xl">
        Jobs bei connect724
      </p>
    </div>
  </Hero>
  <div class="flex flex-col items-center w-full inset-80 py-20">
      <div class="max-w-screen-xl c-min-padding w-full">
        <div class="space-y-3 max-w-screen-lg">
          <p class="text-xl text-balance">
            Gerne können Sie uns unter <a href="mailto:jobs@connect724.at" class="c-link text-secondary">jobs@connect724.at</a> Ihre Initiativbewerbung samt Motivationsschreiben und Lebenslauf zusenden.
          </p>
        </div>
      </div>
    </div>
</Layout>